body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
}
ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}
.weather-app {
  max-width: 450px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.temperature {
  position: relative;
  top: 18px;
  font-size: 60px;
}
.units {
  position: relative;
  bottom: 12px;
}
.weather-conditions {
  margin-top: 26fpx;
}
